.ogg visible but .opus is not

Hello,

I have a folder named test containing two music files: "test.ogg" and "test.opus". Both are the same file encoded as opus inside an ogg container.

When I open the folder in the browser view of cmus only "test.ogg" is visible.
My whole music collection is based on .opus files making cmus unusable at the moment.

In guess that somewhere in the sourcecode of cmus ".ogg" is entered as the only valid file ending for ogg-opus. If that's correct I would love if opus would be added as valid file extension for opus. 

In RFC7845 Section 9 is written: "The RECOMMENDED filename extension for Ogg Opus files is '.opus'." (https://tools.ietf.org/html/rfc7845#section-9)
In my humble opinion cmus should therefore accept both endings: .ogg and .opus.  

---

1) `uname -a`:
```
Linux 4.17.13-arch1-1-ARCH #1 SMP PREEMPT Mon Aug 6 23:06:31 UTC 2018 x86_64 GNU/Linux
```

2) `cmus --version`:
```
cmus v2.8.0-rc0-90-g17bf542
Copyright 2004-2006 Timo Hirvonen
Copyright 2008-2016 Various Authors
```

3) `cmus --plugins`:
```
Input Plugins: /usr/lib/cmus/ip
  mad:
    Priority: 55
    File Types: mp3 mp2
    MIME Types: audio/mpeg audio/x-mp3 audio/x-mpeg
  aac:
    Priority: 50
    File Types: aac
    MIME Types: audio/aac audio/aacp
  cdio:
    Priority: 50
    File Types:
    MIME Types: x-content/audio-cdda
  cue:
    Priority: 50
    File Types:
    MIME Types: application/x-cue
  flac:
    Priority: 50
    File Types: flac fla
    MIME Types:
  modplug:
    Priority: 50
    File Types: mod s3m xm it 669 amf ams dbm dmf dsm far mdl med mtm okt ptm stm ult umx mt2 psm
    MIME Types:
  mp4:
    Priority: 50
    File Types: mp4 m4a m4b
    MIME Types:
  mpc:
    Priority: 50
    File Types: mpc mpp mp+
    MIME Types: audio/x-musepack
  vorbis:
    Priority: 50
    File Types: ogg oga ogx
    MIME Types: application/ogg audio/x-ogg
  wav:
    Priority: 50
    File Types: wav
    MIME Types:
  wavpack:
    Priority: 50
    File Types: wv
    MIME Types: audio/x-wavpack
  ffmpeg:
    Priority: 30
    File Types: aa aac ac3 aif aifc aiff ape au fla flac m4a m4b mka mkv mp+ mp2 mp3 mp4 mpc mpp ogg shn tak tta wav webm wma wv
    MIME Types:

Output Plugins: /usr/lib/cmus/op
  pulse
  alsa
  oss
  jack
  ao
```


Nevermind...

After installing the dependency "opusfile" I had to recompile the package again to make the opus plugin work.
Missing that plugin caused the problems. Now I see both files.

Another "fix" is to convert the file with ffmpeg. This does not rencode or change the file in any way.

```bash
ffmpeg -i input.opus -c copy output.ogg
```